{% extends "base.html" %}
{% block content %}
    <dl>
        <ol>
            {% for article in articles_page.object_list %}
                <li>
                    <h1 class="title">
                        <a href="{{ SITEURL }}/{{ article.url }}" rel='bookmark'>{{ article.title }}</a>
                    </h1>
                    <div class="entry-content"> {{ article.content }} </div>
                    <div class="abbr published">Posted <a href='{{ SITEURL }}/{{ article.url }}' title='{{ article.date.isoformat() }}'>{{ article.locale_date }}</a></div>
                </li>
            {% endfor %}
        </ol>
    </dl>
    {% include 'pagination.html' %}
{% endblock content %}
